server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signer-key: "ec5829f00fc62941fb76eeef22d7bce570f1df1e45b4fa26f11539ff81d8d40b"
